<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Wikipedia Search</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div class="main" ng-app="searchApp" ng-controller="searchCtrl">
  <h1 class="text-center">WikiPedia Search</h1>
  <form id="searchForm" class="text-center">
    <input type="text" id="wikiSearchBox" ng-model="title"> 
    <div class="row">
      <div class="col-md-6 text-right">
    <button ng-click="searchWiki()" type="button" class="btn btn-primary"><i class="fa fa-search"></i></span>Search
</button>
      </div>
        <div class="col-md-6 text-left">
 <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Special:Random" target="_blank"><i class="fa fa-random"></i>Random</a>
      </div>
    </div>
      </form>
  <div class="displayResults">
    <ul id="result" ng-repeat="result in results"><h3><a href="https://en.wikipedia.org/?curid={{result.pageid}}" target="_blank">{{result.title}}</a></h4>
   <div> <p id="descr">{{result.extract}}</p>
  </ul>
    </div>
    </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
